.talent-section {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: linear-gradient(135deg, #004b7d, #006AB0);
  padding: 2rem;
  color: white;
  margin-bottom: 20px;
}

.overlay {
  max-width: 900px;
}

.tag {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 1.3;
  color: rgb(206, 205, 205);
}
