@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scrollable-div {
  height: 90vh;        
  overflow-y: auto;     /* Scroll vertically if content overflows */
  overflow-x: hidden;   /* Optional: hide horizontal scroll */
  border: 1px solid #ccc;
  background-color: #f9fafb;
  width: 100%;
}